<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">RendezVous - Liste</h4>
                    <p class="card-category">Liste des RendezVous dans le garage</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Durée</th>
                                    <th>Prix</th>
                                    <th>Client</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rdv of listeRendezVous">
                                    <td>{{ rdv.reparation.nom }}</td>
                                    <td>{{ rdv.reparation.description }}</td>
                                    <td>{{ rdv.reparation.duree }}</td>
                                    <td class="text-primary">AR {{ rdv.reparation.prix }}</td>
                                    <td>{{ rdv.client.prenom }} {{ rdv.client.nom }}</td>
                                    <td>{{ rdv.date | date:'dd/MM/yyyy HH:mm' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>