<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        RAKOTONIAINA Reynolds Roch
                    </a>
                </li>
                <li>
                    <a href="#">
                        RAVOAHANGY Tokifitia Mahenintsoa
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Master 1 Project.
        </div>
    </div>
</footer>