<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- Pie Chart on the Left -->
            <div class="col-md-6">
                <div class="card justify-content-center">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Réparations les plus demandées</h4>
                        <p class="card-category">Répartition des types de réparations</p>
                    </div>
                    <div class="card-body text-center">
                        <canvas id="topRepairsChart"></canvas>
                    </div>
                </div>
            </div>

            <!-- Spendings & Traffic Charts (Stacked, Smaller) -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Dépenses</h4>
                                <p class="card-category">Évolution des dépenses mensuelles</p>
                            </div>
                            <div class="card-body text-center" style="height: 300px;">
                                <canvas id="spendingsChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Trafic Humain</h4>
                                <p class="card-category">Fréquentation horaire</p>
                            </div>
                            <div class="card-body text-center" style="height: 300px;">
                                <canvas id="humanTrafficChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Employee List & Stats -->
        <div class="row mt-4">
            <div class="col-md-6">
                <app-list-info [viewOnly]="true"></app-list-info>
            </div>
            
            <div class="col-md-6 d-flex flex-column">
                <div class="card mb-3">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Nombre d'employés</h4>
                    </div>
                    <div class="card-body text-center">
                        <p class="stats-number">{{ employeeCount }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Nombre de clients</h4>
                    </div>
                    <div class="card-body text-center">
                        <p class="stats-number">{{ clientCount }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
