<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title ">Reparations - Liste</h4>
        <p class="card-category">Liste des reparations dans le garage</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <th>
                        Nom
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Duree
                    </th>
                    <th>
                        Prix
                    </th>
                </thead>
                <tbody *ngFor="let reparation of reparations">
                    <tr>
                        <td>
                            <div class="card-avatar">
                                <img class="img" src="{{ reparation.image }}" alt="" style="border-radius: 50%;"
                                    width="100" height="100" />
                            </div>
                            {{ reparation.nom }}
                        </td>
                        <td>
                            {{ reparation.description }}
                        </td>
                        <td>
                            {{ reparation.duree }}
                        </td>
                        <td class="text-primary">
                            AR {{ reparation.prix }}
                        </td>
                        <td class="td-actions text-right">
                            <ng-container *ngIf="!isAffectPiece && !isAffectEmployee">
                                <button (click)="onEdit(reparation._id)" mat-raised-button type="button"
                                    matTooltip="Modifier" [matTooltipPosition]="'above'"
                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button (click)="onDelete(reparation._id)" mat-raised-button type="button"
                                    matTooltip="Supprimer" [matTooltipPosition]="'above'"
                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">close</i>
                                </button>
                            </ng-container>

                            <!-- Affecter (seulement si isAffectPiece est TRUE) -->
                            <button *ngIf="isAffectPiece" (click)="onAffect(reparation)" mat-raised-button type="button"
                                matTooltip="Affecter" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">build</i>
                            </button>

                            <button *ngIf="isAffectEmployee" (click)="onAffect(reparation)" mat-raised-button
                                type="button" matTooltip="Affecter" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">add</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>